.menuContainer {
  position: relative;
  width: 100%;
  margin: 20px auto;
  padding: 25px;

  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.photoSection {
  margin-bottom: 15px;

  .photoTitle {
    font-size: 20px;
    color: #ff9800;
    margin: 0 0 15px 0;
    font-weight: bold;
  }

  .photoWrapper {
    display: flex;
    gap: 12px;
    overflow-x: auto;
  }

  .photoItem {
    width: 150px;
    height: 110px;
    border-radius: 6px;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.page {
  width: 100%;
}

.left {
  width: 100%;
}


.right {
  position: fixed;
  bottom: clamp(5px, 3dvh, 30px);
  right: 20px;

  width: 280px;

  height: fit-content;
  max-height: calc(100dvh - 60px);
  overflow-y: auto;

  padding: 15px;
  z-index: 99;

  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 0;
  border-bottom: 1px solid #eee;

  cursor: pointer;
}

.menuInfo {
  flex: 1;

  .header {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .name {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    color: #111;
  }

  .price {
    font-size: 17px;
    font-weight: bold;
    color: #ec7b23;
  }
}

.menuActions {
  display: flex;
  align-items: center;
  gap: 20px;

  .metaInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
  }

  .vatText {
    font-size: 11px;
    color: #bbb;
  }

  .badge {
    font-size: 11px;
    color: #666;
    border: 1px solid #e2e2e2;
    padding: 3px 8px;
    border-radius: 4px;
    background-color: #f9f9f9;
  }

  .imageContainer {
    width: 130px;
    height: 90px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #f9f9f9;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}