.header {
  width: 100%;
  min-height: 50px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(228, 225, 216);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logoLink {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  padding: 0 5px 5px 0;
  line-height: 0; // img 아래 미세 공백 제거

  img {
    display: block;
    min-height: 30px;
    height: 60px;
  }
}