.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 16px 0;

}

.left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;

  .header {
    display: flex;
    gap: 10px;
    align-items: center;

    .name {
      margin: 0;
      font-size: 17px;
      font-weight: bold;
      color: #111;
    }
  }

  .amountBox {
    display: flex;
    align-items: center;
    gap: 16px;

    .price {
      font-size: 17px;
      font-weight: bold;
      color: #ec7b23;
    }

    button {
      width: 32px;
      height: 32px;

      border: 1px solid #ddd;
      border-radius: 50%;

      background: #fff;

      cursor: pointer;
    }
  }

}


.image {
  width: 162px;
  height: 96px;
  overflow: hidden;
  border-radius: 6px;
  background-color: #f9f9f9;

  // 이미지를 정중앙에 정렬하기 위해 추가
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    /* 🔥 어떤 이미지든 알아서 비율을 맞추고, 
      상자보다 크면 줄이고 작으면 원래 크기를 유지합니다.
    */
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}



.right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 6px;

  .menuAction {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;

    .vatText {
      font-size: 11px;
      color: #bbb;
    }

    .badge {
      padding: 3px 8px;

      border: 1px solid #e2e2e2;
      border-radius: 4px;

      font-size: 11px;
      color: #666;
    }
  }
}